.ant-tabs-top {
  height: 46px;
}

.filter-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.menu-item {
  color: #1890ff;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: underline;
    font-weight: bold;
  }
}

.genre-status {
  position: absolute;
  left: 440px;
  background: #1890ff;
  color: #fff;
  padding: 0 1px;
  border-radius: 25%;
}
