.rows-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;

  & div {
    width: 8px;
    height: 8px;
    background-color: #ced1d4;
  }

  &:hover div,
  &:active div {
    background-color: #1890ff;
  }
}
