.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  // background-color: transparent;
  position: absolute;
  z-index: 10;
  background: linear-gradient(#0c0a0a, #e7e8ec);
  opacity: 0.8;

  .title {
    display: block;
    text-transform: uppercase;
    color: #fff;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    background: transparent;
    color: #fff;
  }

  h1 {
    cursor: pointer;
  }

  .search {
    width: 400px;
    height: 32px;
    cursor: text;
  }
}
