.header {
  height: 80px;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background: linear-gradient(#0c0a0a, #e7e8ec);
  opacity: 0.8;
  padding: 0;

  .title {
    display: block;
    text-transform: uppercase;
    color: #fff;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    background: transparent;
    color: #fff;
  }

  h1 {
    margin: auto;
    display: block;
    cursor: pointer;
  }

  .search {
    display: block;
    width: 400px;
    height: 32px;
    cursor: text;
  }
}

.header-container {
  padding: 0 75px;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
