.navbar-container {
  width: 220px;

  button {
    background-color: transparent;
    color: #fff;
  }
}

.ant-popover-inner {
  background-color: black;
  opacity: 0.5;
  width: 300px;
  height: auto;
  position: relative;
  left: -50px;
}
