.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100vw;
  position: relative;
  padding: 20px;

  & span {
    display: block;
    color: #8a8c8d;
    margin-right: 5px;

    & a {
      color: #8a8c8d;
      text-decoration: none;
    }
  }

  .title {
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #1890ff;
    text-align: center;
    cursor: pointer;
  }
}
