.movieList-container {
  display: flex;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

.active {
  top: 80px;
}

.movieItem-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px 30px 30px;
}
