*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}

.ant-btn {
  &:hover,
  &:focus {
    background: #1890ff;
    border-color: #1890ff;
    color: #fff;
  }
}

.ant-popover-inner {
  width: 300px;
  height: auto;
  background-color: transparent;
}

.ant-popover-inner-content {
  color: #fff;
}

.ant-popover-arrow {
  display: none;
}

.ant-input {
  background-color: transparent;
  color: #fff;
}

.ant-input-search-button {
  background-color: transparent;
}

.ant-input-group-addon {
  background-color: transparent;
}

.ant-card-body {
  padding: 0;
}

.ant-modal {
  max-width: unset;
  margin: unset;
}

.ant-modal-centered::before {
  content: unset;
}
